@model string
<td><a asp-action="Details" asp-route-id="@Model" class="text-info"><i class="fas fa-eye"></i></a></td>
<td><a asp-action="Edit" asp-route-id="@Model" class="text-warning"><i class="fas fa-edit"></i></a></td>
<td><a asp-action="Delete" asp-route-id="@Model" class="text-danger"><i class="fas fa-trash"></i></a></td>