@model EmployeeViewModel
@inject IDepartmentRepository departmentRepo
@{
    var departments = new SelectList(await departmentRepo.GetAllAsync(), "Id", "Name");    
}
<div class="form-group">
        <label class="col-form-label"  asp-for="Name"></label>
        <input class="form-controller" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label"  asp-for="Image"></label>
        <input class="form-controller" asp-for="Image" /> 
    </div>

    <div class="form-group">    
        <label class="col-form-label"  asp-for="Age"></label>
        <input class="form-controller" asp-for="Age" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="col-form-label"  asp-for="Address"></label>
        <input class="form-controller" asp-for="Address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

      <div class="form-group">
        <label class="col-form-label"  asp-for="Salary"></label>
        <input class="form-controller" asp-for="Salary" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>     

    <div class="form-group">
        <label class="col-form-label"  asp-for="Department"></label>
        <select class="form-control" asp-items="departments" asp-for="DepartmentId">
          <option value="@null">--------- select department--------</option>
        </select>
    </div>

     <div class="form-group">
        <label class="col-form-label"  asp-for="Email"></label>
        <input class="form-controller" asp-for="Email" />
        <span 
        asp-validation-for="Email" class="text-danger"></span>
    </div>
     <div class="form-group">
        <label class="col-form-label"  asp-for="PhoneNumber"></label>
        <input class="form-controller" asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

     <div class="form-group">
        <label class="col-form-label"  asp-for="HireDate"></label>
        <input class="form-controller" asp-for="HireDate" />
        <span asp-validation-for="HireDate" class="text-danger"></span>
         <div class="form-group">
        <label class="col-form-label"  asp-for="IsActive"></label>
        <input class="form-controller" asp-for="IsActive" />
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>