@model EmployeeViewModel

@if (Model.ImageName is not null)
{
	<div class="form-group">
		<img src="~/Files/Images/@Model.ImageName" class="rounded" width="100" height="100" />
		<input asp-for="ImageName" hidden />
	</div>
}

    <div class="form-group">
		<label class="col-form-label"  asp-for="Name"></label>
		<input readonly class="form-controller" asp-for="Name" />
	</div>


	<div class="form-group">
		<label class="col-form-label"  asp-for="Age"></label>
		<input readonly class="form-controller" asp-for="Age" />
	</div>

	<div class="form-group">
		<label class="col-form-label"  asp-for="Salary"></label>
		<input readonly class="form-controller" asp-for="Salary" />
	</div>

	<div class="form-group">
		<label class="col-form-label"  asp-for="Address"></label>
		<input readonly class="form-controller" asp-for="Address" />
	</div>

	<div class="form-group">
		<label class="col-form-label"  asp-for="Email"></label>
		<input readonly class="form-controller" asp-for="Email" />
	</div>

	<div class="form-group">
		<label class="col-form-label"  asp-for="PhoneNumber"></label>
		<input readonly class="form-controller" asp-for="PhoneNumber" />
	</div>

	<div class="form-group">
		<label class="col-form-label"  asp-for="HireDate"></label>
		<input readonly class="form-controller" asp-for="HireDate" />
	</div>

	<div class="form-group">
		<label class="col-form-label"  asp-for="IsActive"></label>
		<input readonly class="form-controller" asp-for="IsActive" />
	</div>