@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1> are you sure you want to Delete @Model.Name Department</h1>

<div asp-validation-summary="All"></div>

<form asp-action="Delete">
    
    <div class="form-group">
        <label class="col-form-label"  asp-for="Code"></label>
        <input readonly class="form-controller" asp-for="Code" />
    </div>

    <div class="form-group">
        <label class="col-form-label"  asp-for="Name"></label>
        <input readonly class="form-controller" asp-for="Name" />
    </div>

    <div class="form-group">
        <label class="col-form-label"  asp-for="DateOfCreation"></label>
        <input readonly class="form-controller" asp-for="DateOfCreation" />
    </div>
    <input type="submit" value="Delete" class="btn btn-danger"/>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

