@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Department @Model.Name Details</h1>


    <div class="form-group">
        <label class="col-form-label"  asp-for="Code"></label>
        <input readonly class="form-controller" asp-for="Code" />
    </div>

    <div class="form-group">
        <label class="col-form-label"  asp-for="Name"></label>
        <input readonly class="form-controller" asp-for="Name" />
    </div>

    <div class="form-group">
        <label class="col-form-label"  asp-for="DateOfCreation"></label>
        <input readonly class="form-controller" asp-for="DateOfCreation" />
    </div>

<a asp-action="Edit" class="btn btn-secondary">Edit</a>
<a asp-action="Index" class="btn btn-light">Back to List</a>