
@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name employee</h1>

<div asp-validation-summary="All"></div>


<form asp-action="Edit" enctype="multipart/form-data">
    <partial name="PartialViews/CreateEditPartialView" />
    <input type="submit" value="Save" class="btn btn-primary"/>
    <a asp-action="Index" class="btn btn-light">Back to List</a>
</form>

@section ValidationScriptSection{
        <partial name="_ValidationScriptsPartial" />

}
