@model UserViewModel
@{
    ViewData["Title"] = "Delete";
}
<form asp-action="ConfirmDelete">
    <h1>@Model.Fname @Model.Lname Details</h1>


    <div class="form-group">
        <label class="col-form-label"  asp-for="Id"></label>
        <input readonly class="form-controller" asp-for="Id" />
    </div>

    <div class="form-group">
        <label class="col-form-label"  asp-for="Fname"></label>
        <input readonly class="form-controller" asp-for="Fname" />
    </div>

    <div class="form-group">
        <label class="col-form-label"  asp-for="Lname"></label>
        <input readonly class="form-controller" asp-for="Lname" />
    </div>
    <div class="form-group">
        <label class="col-form-label"  asp-for="PhoneNumber"></label>
        <input readonly class="form-controller" asp-for="PhoneNumber" />
    </div>
     <div class="form-group">
        <label class="col-form-label"  asp-for="Email"></label>
        <input readonly class="form-controller" asp-for="Email" />
    </div>
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-light">Back to List</a>
 </form>
