
@{
    ViewData["Title"] = "CheckInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            password reset link has been sent to your mail ,please check inbox
        </div>
        <a href="https://mail.google.com/mail/u/0/#inbox">go to your inbox</a>
    </div>
</div>
