@model RegisterViewModel
@{
	ViewData["Title"] = "Register";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
			<div class="agileits-top">
				<form asp-action="Register" >
					<input class="text" asp-for="FName" placeholder="your first name" required="">
					<span asp-validation-for="FName" class="text-danger"></span>
					<br />
					<input class="text" asp-for="LName" placeholder="your last name" required="">
					<span asp-validation-for="LName" class="text-danger"></span>
					<br />
					<input class="text" asp-for="Email" placeholder="your Email" required="">
					<span asp-validation-for="Email" class="text-danger"></span>
					<br />
					<input class="text" asp-for="Password" placeholder="your password" required="">
					<span asp-validation-for="Password" class="text-danger"></span>
					<br />
					<input class="text" asp-for="ConfirmPassword" placeholder="confirm password" required="">
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					<br />					
					<div class="wthree-text">
						<label class="anim">
							<input asp-for="IsAgree" class="checkbox" required="">
							<span>I Agree To The Terms & Conditions</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNUP">
				</form>
				<p>Do you have an Account? <a asp-action="Login"> Login Now!</a></p>
			</div>
		</div>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}