@model ResetPasswordView
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
			<div class="agileits-top">
				<div asp-validation-summary="All"></div>
				<form asp-action="ResetPassword" >
					<input class="text" asp-for="NewPassword" placeholder="new password" required="">
					<span asp-validation-for="NewPassword" class="text-danger"></span>
					<br />
					<input class="text" asp-for="ConfirmPassword" placeholder="ConfirmPassword" required="">
					<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					<input type="submit" value="Reset">
				</form>
			</div>
		</div>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />
}

